includes:
    - phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - src
        - database
    ignoreErrors:
        - '#Trait Pratiksh\\Imperium\\Traits\\Core\\HasBindableRepositoryToInterface.* is used zero times and is not analysed#'
        - '#Trait Pratiksh\\Imperium\\Traits\\HasPermission.* is used zero times and is not analysed#'
        - '#Trait Pratiksh\\Imperium\\Traits\\HasPosition.* is used zero times and is not analysed#'
        - '#Trait Pratiksh\\Imperium\\Traits\\HasProfile.* is used zero times and is not analysed#'
        - '#Trait Pratiksh\\Imperium\\Traits\\Role\\ImplementsBreadAuthorization.* is used zero times and is not analysed#'
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
